.canvas-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 200px;
}

.top-canvas-wrapper {
  position: fixed;
  top: 0px;
  bottom: 55%;
  right: 0px;
  left: 200px;
}

.bottom-canvas-wrapper {
  position: fixed;
  top: 55%;
  bottom: 0px;
  right: 0px;
  left: 200px;
}

.render-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}